<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <meta name="description" content="JJ Maxwell's Personal Website.">
  <html manifest="test.appcache">
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36147895-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>   

  <title>JJ Maxwell  - {{active_page }}</title>
</head>
{% set navigation_bar = [
    ('/', 'Home', 'About'),
    ('/read/', 'Reading List', 'Reading List'),
    ('/resume/', 'Resume', 'Resume'),
    ('/education/', 'Education', 'Education'),
    ('/quotes/', 'Quotes', 'Quotes'),
    ('/blog/', 'Blog', 'Blog')
] -%}
{% set active_page = active_page|default('about') -%}

<body>
  <div id="container">
    <div id="header">
      <table> 
          <tr><td><img src="/static/me2.jpg" alt="-|-"></td></tr>
          <tr><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspJJ Maxwell</td></tr>
          <tr><td><hr></td></tr>
          {% for href, id, caption in navigation_bar %}
          <tr><td>
            <a {% if id == active_page %} class="current"{% endif
            %} href="{{ href|e }}">{{caption|safe }}</a>
          </td></tr>
          {% endfor %}
      </table>
    </div>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
  </div>
</body>

</html>

