{% extends "base.html" %}
{% set active_page = "Education" %}

{% block content %}
	<div id="title">
		<h1> Education</h1>
	</div>
	<div id="text">	
		<h3> “I have never let my schooling interfere with my education.” </h3>
		<h4> – Mark Twain &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </h4>
		<p> I've completed some courses (CS253 & CS262) at Udacity.com. I've build a things with Arduino. I've built a few webapps. <a href="https://github.com/jjmaxwell4">My Github</a> </p>
	</div>
{% endblock %}