{% extends "base.html" %}
{% set active_page = "Home" %}

{% block content %}

	<img class="displayed" src="static/me3.jpg" width="800px" alt="Me">
	<div id="text">	
		<h3> Technology and the Economy </h3> 
		 <p>The next 40 years are going to be filled with unprecedented advances in technology. The combination of computers, data and automation will change the way individuals live their lives, and also represent enormous opportunity. I am interested in both the technical details and the economic impact that this progress will have. </p>

		<h3> I'm studying Mechatronics </h3>
		<p>I’m taking a program that provides both depth and breadth. I learn about everything from operating system design to system modelling to power transmission to fluid dynamics.</p>

		<h3> I read </h3>
		 <p> I read about politics. I follow technology and start-ups. I love to read biographies. </p>
		<h3> I'm looking for interships.</h3>
		 <p> I’m going to be in Singapore from January – May 2013, but I am looking for a summer internship (May-Sept 2013). I graduate in May 2014</p>
		<h3> Contact me @ jjmaxwell4 at gmail.com </h3>
	</div>
{% endblock %}

