{% extends "base.html" %}
{% set active_page = "Quotes" %}

{% block content %}
	<div id="text">
		<div id="title">
			<h1>Quotes</h1>
			<br>
		</div> 
		<ul>
			<li>"Our doubts are traitors, And make us lose the good we oft might win, By fearing to attempt."</li>
				<ul> - William Shakespeare, <i>Measure for Measure</i></ul>
			<br>
			<li>"A good hint to the presence of leverage is the possibility of failure. Upside must be balanced by downside, so if there is big potential for gain there must also be a terrifying possibility of loss. CEOs, stars, fund managers, and athletes all live with the sword hanging over their heads; the moment they start to suck, they're out. If you're in a job that feels safe, you are not going to get rich, because if there is no danger there is almost certainly no leverage."</li>
				<ul> - Paul Graham, <i> How to Make Wealth</i></ul>
			<br>
			<li>"It is the duty of the patriot to protect his country from his government"</li>
				<ul> - Thomas Paine</ul>
			<br>
			<li>It is right it should be so; <br>
				Man was made for joy and woe;<br>
				And when this we rightly know,<br>
				Thro' the world we safely go.</li>
				<ul> - William Blake, <i> Auguries of Innocence</i></ul>
			<br>
			<li>"Education is an admirable thing, but it is well to remember from time to time that nothing that is worth knowing can be taught."</li>
				<ul> - Oscar Wilde, <i> A Few Maxims For The Instruction Of The Over-Educated </i></ul>
			<br>
			<li>"The union of the mathematician with the poet, fervor with measure, passion with correctness, this surely is the ideal."</li>
				<ul> - William James</ul>
			<br>
			<li>"A human being should be able to change a diaper, plan an invasion, butcher a hog, conn a ship, design a building, write a sonnet, balance accounts, build a wall, set a bone, comfort the dying, take orders, give orders, cooperate, act alone, solve equations, analyze a new problem, pitch manure, program a computer, cook a tasty meal, fight efficiently, die gallantly. Specialization is for insects."</li>
				<ul> - Robert Heinlein, <i> Time Enough for Love</i></ul>
			<br>
			<li>“The dim mysterious temple of the dawn”</li>
				<ul> - Winston Churchill</ul>
			<br>
			<li>Expectation is the root of all heartache.</li>
				<ul></ul>
			<br>
			<li>"This is America. Pick a job and then become the person that does it."</li>
				<ul> -  Mad Men</ul>
			<br>
			<li>"Clothes make the man. Naked people have little influence on society."</li>
				<ul> - Mark Twain, <i> More Maxims of Mark</i></ul>
			<br>
		</ul>
	</div>

{% endblock %}