{% extends "base.html" %}
{% set active_page = "Quotes" %}

{% block content %}
	<div id="text">
		<div id="title">
			<h1>Quotes</h1>
			<br>
		</div> 
		<ul>
			<li>"Our doubts are traitors, And make us lose the good we oft might win, By fearing to attempt."</li>
				<ul> - William Shakespeare, <i>Measure for Measure</i></li></ul>
			<br>
			<li>"A good hint to the presence of leverage is the possibility of failure. Upside must be balanced by downside, so if there is big potential for gain there must also be a terrifying possibility of loss. CEOs, stars, fund managers, and athletes all live with the sword hanging over their heads; the moment they start to suck, they're out. If you're in a job that feels safe, you are not going to get rich, because if there is no danger there is almost certainly no leverage."</li>
				<ul> - Paul Graham, <i> How to Make Wealth</i></li></ul>
			<br>
			<li>"It is the duty of the patriot to protect his country from his government"</li>
				<ul> - Thomas Paine</li></ul>
			<br>
			<li>It is right it should be so; <br>
				Man was made for joy and woe;<br>
				And when this we rightly know,<br>
				Thro' the world we safely go.</li>
				<ul> - William Blake, <i> Auguries of Innocence</i></li></ul>
			<br>
			<li>Quote</li>
				<ul> - Name</li></ul>
			<br>
			<li>Quote</li>
				<ul> - Name</li></ul>
			<br>
			<li>Quote</li>
				<ul> - Name</li></ul>
			<br>
			<li>Quote</li>
				<ul> - Name</li></ul>
			<br>
			<li>Quote</li>
				<ul> - Name</li></ul>
			<br>
			<li>Quote</li>
				<ul> - Name</li></ul>
			<br>
			<li>Quote</li>
				<ul> - Name</li></ul>
			<br>
		</ul>
	</div>

{% endblock %}