{% extends "base.html" %}
{% set active_page = "Readings" %}

{% block content %}
	<div id="title">
		<h1> On my Shelf </h1>
	</div>
	<div id="text">	
		<p> <a href="http://www.paulgraham.com/articles.html"> Paul Graham's Essays </a></p>
		<p>  Ayn Rand - Atlas Shrugged</p>
		<p>  Winston Churchill - My Early Life </p>
		<p>  Oscar Wilde - The Picture of Dorian Gray</p>
		<p>  Robert Pirsig - Zen and the Art of Motorcycle Maintenance</p>
		<p>  Rischard Feynman - Surely You're Joking, Mr. Feynman!</p>
		<p>  Malcolm Gladwell - Outliers</p>
		<p>  Steve Martin - Born Standing Up</p>
		<p>  Michael Lewis - Moneyball</p>
		<p>  Alice Schrroeder - The Snowball: Warren Buffett and the Business of Life</p>
	</div>
{% endblock %}
