{% extends "base.html" %}
{% set active_page = "Reading List" %}

{% block content %}
	<div id="title">
		<h1> Reading List</h1>
	</div> 
	<div id="book">
		<hr>
		<table>
			<tr>
				<a href="http://www.paulgraham.com/articles.html"> <h1 style="text-align: left; font-size: 16px; font-weight: bold; color: #222222; text-decoration: none;">Paul Graham's Essays </h1></a>
			</tr>
			<tr>
				<td width="20%"> <img src="/static/pg.jpg" width="122px" alt="PG"> </td>
				<td width="80%"> <b>Author:</b> Paul Graham <br> <b>Favorite Quotes:</b> "The best protection is always to be working on hard problems. Writing novels is hard. Reading novels isn't. Hard means worry: if you're not worrying that something you're making will come out badly, or that you won't be able to understand something you're studying, then it isn't hard enough. There has to be suspense." (From <a href="http://paulgraham.com/hs.html"> What You'll Wish You'd Known</a>) </td>
			</tr>
		</table>
		<hr>
		<table>
			<tr>
				<a href="http://www.amazon.ca/Atlas-Shrugged-Ayn-Rand/dp/0451191145"> <h1 style="text-align: left; font-size: 16px; font-weight: bold; color: #222222; text-decoration: none;">Atlas Shrugged</h1></a>
			</tr>
			<tr>
				<td width="20%"> <img src="/static/as.jpg" width="122px" alt="AS"> </td>
				<td width="80%"> <b>Author:</b> Ayn Rand <br> <b>Favorite Quotes:</b> "Who is John Galt?"<br>"Do not let your fire go out, spark by irreplaceable spark in the hopeless swaps of the not-quite, the not-yet, and the not-at-all. Do not let the hero in your soul perish in lonely frustration for the life you deserved and have never been able to reach. The world you desire can be won. It exists.. it is real.. it is possible.. it's yours."<br> “What greater wealth is there than to own your life and to spend it on growing? Every living thing must grow. It can't stand still. It must grow or perish.” <br>“Money will not purchase happiness for the man who has no concept of what he wants.” </td>
			</tr>
		</table>
		<hr>
		<table>
			<tr>
				<a href="http://www.amazon.ca/Early-Life-1874-1904-Winston-Churchill/dp/0684823454/ref=sr_1_1?s=books&ie=UTF8&qid=1352054628&sr=1-1"> <h1 style="text-align: left; font-size: 16px; font-weight: bold; color: #222222; text-decoration: none;">My Early Life: 1874-1904</h1></a>
			</tr>
			<tr>
				<td width="20%"><img src="/static/wc.jpg" width="122px" alt="WC"> </td>
				<td width="80%"> <b>Author:</b> Winston Churchill <br> <b>Favorite Quotes:</b> "Come on now all you young men, all over the world. … You have not an hour to lose. … Twenty to twenty-five! These are the years! Don’t be content with things as they are. ‘The earth is yours and the fulness thereof.’ Enter upon your inheritance, accept your responsibilities. … Don’t take No for an answer. Never submit to failure. Do not be fobbed off with mere personal success or acceptance. You will make all kinds of mistakes; but as long as you are generous and true, and also fierce, you cannot hurt the world or even seriously distress her. She was made to be wooed and won by youth."</td>
			</tr>
		</table>
		<hr>
		<table>
			<tr>
				<a href="http://www.amazon.ca/Zen-Art-Motorcycle-Maintenance-Inquiry/dp/0060589469/ref=sr_1_1?ie=UTF8&qid=1352057110&sr=8-1"> <h1 style="text-align: left; font-size: 16px; font-weight: bold; color: #222222; text-decoration: none;">Zen and the Art of Motorcycle Maintenance</h1></a>
			</tr>
			<tr>
				<td width="20%"><img src="/static/zen.jpg" width="122px" alt="Zen"> </td>
				<td width="80%"> <b>Author:</b> Robert Pirsig <br> <b>Favorite Quotes:</b> “Thus the hero of the Odyssey is a great fighter, a wily schemer, a ready speaker, a man of stout heart and broad wisdom who knows that he must endure without too much complaining what the gods send; and he can both build and sail a boat, drive a furrow as straight as anyone, beat a young braggart at throwing the discus, challenge the Phoenician youth at boxing, wrestling or running; flay, skin, cut up and cook an ox, and be moved to tears by a song.  He is in fact an excellent all rounder; he has surprising arête.<br>
				&nbsp &nbsp &nbsp Arete implies a respect for the wholeness or oneness of life, and a consequent dislike of specialization.  It implies a contempt for efficiency—or rather a much higher idea of efficiency, an efficiency which exists not in one department of life but life itself.” </td>
			</tr>
		</table>
		<hr>
		<table>
			<tr>
				<a href="http://www.amazon.ca/Picture-Dorian-Gray-Oscar-Wilde/dp/0486278077/ref=sr_1_1?ie=UTF8&qid=1352055861&sr=8-1"> <h1 style="text-align: left; font-size: 16px; font-weight: bold; color: #222222; text-decoration: none;">The Picture of Dorian Gray</h1></a>
			</tr>
			<tr>
				<td width="20%"><img src="/static/dg.jpg" width="122px" alt="DG"> </td>
				<td width="80%"> <b>Author:</b> Oscar Wilde<br> <b>Favorite Quotes:</b> "I love acting. It is so much more real then life." <br> "There are only two kinds of people who are really fascinating,-people who know absolutely everything, and people who know absolutely nothing." <br> "Life has been your art. You have set yourself to music. Your days are your sonnets." <br> "One should absorb the color of life, but one should never remember its details. Details are always vulgar." <br> "To become a spectator of one's own life, as Harry says, is to escape the suffering of life" <br> "The secret to remaining young is to never have an emotion that is unbecoming."</td>
			</tr>
		</table>
		<hr>
		<table>
			<tr>
				<a href="http://www.amazon.ca/Surely-Youre-Joking-Mr-Feynman/dp/0393316041/ref=sr_1_1?s=books&ie=UTF8&qid=1352057178&sr=1-1"> <h1 style="text-align: left; font-size: 16px; font-weight: bold; color: #222222; text-decoration: none;">Surely You're Joking, Mr. Feynman!</h1></a>
			</tr>
			<tr>
				<td width="20%"><img src="/static/rf.jpg" width="122px" alt="DG"> </td>
				<td width="80%"> <b>Author:</b> Richard Feynman<br> <b>Favorite Quotes:</b> “All the time you're saying to yourself, 'I could do that, but I won't,'--which is just another way of saying that you can't.” <br>“You see, I get so much fun out of thinking that I don’t want to destroy this pleasant machine that makes life such a big kick.” </td>
			</tr>
		</table>
		<hr>
	</div>

{% endblock %}
